#public_gems
  %table.color{ :cellspacing => 0 }
    %tr
      %th Gem
      %th Info
      %th Machines
      %th Platforms
      %th Version
    - @gems.each do |rg|
      = render(:partial => 'profiles/installed_gem', :locals => {:rg => rg})
