#public_gems.inner.rounded-corners
  %table.color{ :cellspacing => 0 }
    %tr
      %td Gem
      %td Version
    = render(:partial => 'profiles/installed_gem', :collection => @user.installed_gems.includes(:rubygem).order('rubygems.name'), :as => :rg)