#profile
  = gravatar(current_user)
  %h1#handle&= current_user.handle
  - if @payload
    %br
    = button_to('Import', { :controller => 'payloads', :action => 'update', :id => @payload.uid }, :method => :put)
  %ul
    %li= link_to('Installed Gems', user_gems_path(current_user.handle))
  %ul
    %li change user password
    %li change project names
    %li change your career
