#profile.rounded-corners.inner
  %h1#handle&= current_user.handle
  %br/
  - if @payload
    = button_to('Import', { :controller => 'payloads', :action => 'update', :id => @payload.uid }, :method => :put)
  %table.color{ :border => 0, :cellspacing => 5, :cellpadding => 5 }
    %tr
      %th Gem
      %th Version
    = render(:partial => 'installed_gem', :collection => current_user.installed_gems.includes(:rubygem).order('rubygems.name'), :as => :rg)

