<div id='profile' class='rounded-corners'>
  <h1 id='handle'><%= h(current_user.handle) %></h1>
  <hr />
  <% if @payload %>
  <%= button_to "Import", {:controller => "payloads", :action => "update", :id => @payload.id } %>
  <% end %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>Gem</td>
      <td>Version</td>
    </tr>
    <%= render(:partial => 'installed_gem', :collection => current_user.installed_gems.includes(:rubygem).order('rubygems.name'), :as => :rg) %>
  </table>
</div>
