#container
{
  padding-top:25px;
  margin: 0 auto;
  width: 750px;
  background:#000;
  height: 600px;
}

#header
{
  margin: 0 auto;
  width: 542px;
  height: 256px;
}

#header h1 { margin: 0; }

#content
{
  clear: left;
  padding: 20px;
}

#content h2
{
  color:#000;
  font-size: 160%;
  margin: 0 0 .5em;
}

#footer
{
  background:#ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

#quickstart
{
  margin: 0 auto;
  width: 600px;
  height:270px;
  background-color:#ECE;
  padding: 5px;
}

#os_pos
{
  margin: 0 auto;
  width: 600px;
  background-color:#000;
}

#information
{
  margin: 0 auto;
  width: 600px;
  background-color:#ECE;
  padding: 5px;
}


.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.inline-block {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;  
}

.os li {
  display: inline;
  font-size:18px;
  position:relative;
  background-color:#fff;
}

#black_box
{
  margin: 0 auto;
  height: 100px;
  width: 580px;
  background-color:#000;
}
