html, body, * {
  font-family: 'Cantarell', 'Helvetica', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

img {
  border: 0;
}

#home h1 {
  font-variant: small-caps;
}

#container
{
  padding:15px;
  margin: 0 auto;
  width: 750px;
  background:#000;
}

#header
{
  margin: 0 auto;
  width: 542px;
  height: 256px;
  border: none;
}

#nav { float:right; }

#content
{
  clear: left;
  padding: 20px;
}

#footer
{
  margin: 0 auto;
  width: 214px;
  height: 87px;
}

#quickstart
{
  margin: 0 auto;
  margin-top: 10px;
  width: 600px;
  padding: 5px;
}

#quickstart p
{
  margin-left: 8px;
}

#os_pos
{
  margin: 20px auto;
  padding: 5px 20px;
  width: 600px;
  border: 5px solid black;
}

#os_pos h1 {
  margin: 0px;
}

#logos {
  text-align: center;
  float: right;
  padding-top: 25px;
  width: 75%;
}
#logos img {
  margin: 0px 20px;
}

#list {
  width: 25%;
}

#information
{
  margin: 0 auto;
  margin-top: 10px;
  width: 600px;
  padding: 5px;
}

#information p
{
  margin-left: 8px;
}

#information li
{
  margin-left: 8px;
}

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.inline-block {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.os li {
  font-size: 150%;
  list-style-image: url(/images/check.png);
  font-variant: small-caps;
  font-weight: bold;
}

#black_box
{
  margin: 0 auto;
  width: 580px;
  background-color:#000;
  color:#66FF00;
  vertical-align:middle;
  padding-top: 5px;
}

#plug
{
  margin: 0 auto;
  vertical-align:middle;
  font-variant: small-caps;
  font-weight: bold;
  text-align:center;
  font-size: 150%;
}

#plug small {
  font-size: 50%;
  float: right;
  opacity: 0.5;
}

table.color tr:nth-child(2n) {
  background: #CCC;
  color: black;
}

.inner {
  background: white;
  color: black;
  padding: 15px;
}

#public_gems table {
  width: 100%;
}

a {
	color: #900;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

/* @group Gems */

table#gems tr {
   margin: 0 0 2px;

}

table#gems th {
	text-align: left;
}

table#gems th.numeric, table#gems td.numeric {
	text-align: right;
}

table#gems td {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	border: none;
}

table#gems tr {
	background: #CCC;
}

table#gems tr:nth-child(2n) {
  background: #eee;
  color: black;
}

.gem .name {
	font-size: 18px;
}

.gem .version {
	font-size: 14px;
	vertical-align: top;
}

#gems .info {
	text-size: 8px;
	color: #666;
}

/* @end */



table .gem_name {
  font-size: 125%;
}

table .gem_version {
  font-size: 125%;
}

#profile .gravatar {
  float: right;
}

.login-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.login-form fieldset ol li {
  list-style-type: none;
}

.login-form label {
  display: block;
}

.login-form label[for="user_remember_me"] {
  display: inline;
}

#alt-auth li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
#alt-auth img {
  display: block;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

#stats {
  border: 2px solid black;
  width: 100%;
  margin: 25px auto;
}

.flash {
  padding:15px;
  margin: 0 auto;
  width: 700px;
  position: absolute;
  z-index: 999;
  text-align: right;
}

