<div id="home">
<div id="plug">
  <h1>
    Share your gem list. Now.
  </h1>
  <small>This website is approved by angry gems.</small>
</div>
<div id="quickstart" class="rounded-corners">
  <h1>Quick Start:</h1>
  <p>1. Navigate to project (or projects) folder.</p>
  <p>2. Run the commands below (install gem/run scan).</p>
  <div id="black_box" class='rounded-corners box-shadow'>
    <pre>
    > cd rails/projects
    > gem install gemrage
    > gem scan .
    </pre>
  </div>
  <p>3. Your internet browser will open.</p>
  <p>4. Signup and start sharing!</p>

</div>

<div id="os_pos" class='rounded-corners box-shadow'>
  <h1>Compatibility</h1>
  <div id="logos">
    <%= image_tag 'windows.gif' %>
    <%= image_tag 'linux.gif' %>
    <%= image_tag 'mac.jpg' %>
  </div>
  <div id='list'>
    <ul class="os">
      <li>Windows</li>
      <li>Linux</li>
      <li>Macintosh</li>
    </ul>
  </div>
</div>

<div id="information" class="rounded-corners">
  <h1>Gem Rage gives you the ability to:</h1>
  <ul>
    <li>Share project gem lists</li>
    <li>Check to see what gems need to be updated</li>
    <li>Learn about gems installed within your projects</li>
  </ul>

  <h1>Worried about privacy? Don't!</h1>
    <ul>
      <li>You can delete projects that you don't want shared</li>
      <li>You can rename projects so you don't display your repository name</li>
    </ul>
</div>

</div>