<div id="quickstart" class="rounded-corners">
  <h1>Quick Start:</h1>
  <p>Navigate to project (or projects) folder.</p>
  
  <p>A Internet Explorer / Firefox / Chrome broswer will open.
       Signup and start sharing!</p>
</div>

<div id="OSs">
  <div id="windows">
    <%= image_tag 'Logo.png'%>
    <p>Windows</p>
  </div>
  <div id="linux">
    <%= image_tag 'Logo.png'%>
    <p>Linux</p>
  </div>
  <div id="macintosh">
    <%= image_tag 'Logo.png'%>
    <p>Macintosh</p>
  </div>
</div>

<div id="information" class="rounded-corners">
  <p>Gem Rage gives you the ability to:</p>
  <ul>
    <li>Share project gem lists
    <li>Check to see what gems need to be updated 
    <li>Learn about gems installed within your projects
  </ul>
  
  <p>Gem Rage</p>
    <ul>
    <li>Share project gem lists
    <li>Check to see what gems need to be updated 
    <li>Learn about gems installed within your projects
  </ul>
</div>

