#project
  %h1&= @project.name

  %table#gems
    %tr.header
      %th Gem
      %th Latest Version
    %tr= render(:partial => 'project_gem', :collection => @project.gems.includes(:rubygem))
    
%a.back{:href => user_profile_path()} &larr; Back