#project
  %h1&= @project.name
  - if user_signed_in? && @project.user == current_user
    = link_to('edit', edit_project_path(@project))
    |
    = link_to('destroy', project_path(@project), :method => :delete, :confirm => 'Really delete this project?')
  %hr
  %table.color{ :cellspacing => 0 }
    %tr
      %th Gem
      %th Info
      %th Version
      %th Latest Version
    %tr= render(:partial => 'project_gem', :collection => @project.gems.includes(:rubygem))